body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 0px;
  margin: 0px;
}

#title {
  color: black;
  text-shadow: 3px 6px 10px white;
  font-size: 36px;
  font-family: 'Syncopate', sans-serif;
  margin: 0px 30px;
}

#download > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: black;
  color: white;
  height: 70px;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #352384;
  box-shadow: 3px 6px 15px black;
}

#download > a > p {
  margin-right: 15px;
  font-size: 14px;
}

#download > a > img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

#title > h1{
  margin: 0px;
}

#title > div {
  display: flex;
}

#title > div > h6{
  margin: 0px 5px;
}

#do-more {
  font-style: italic;
}

#demo {
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: calc(8vh - 50px);
  height: 62vh;
  width: 85vw;
  align-self: center;
  background-image: url('https://res.cloudinary.com/dlhshbg79/image/upload/v1487112042/Screen_Shot_2017-02-14_at_2.39.42_PM_utucke.png');
  background-size: cover;
  box-sizing: border-box;
  border: 50px solid black;
  border-bottom: none;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 0px 15px black;
}

#footer {
  display: flex;
  justify-content: flex-start;
  background: transparent;
  align-items: center;
  font-size: 13px;
  color: black;
  height: 50px;
}

#footer > * {
  margin: 0px 13px;
}

#footer > div {
  display: flex;
  align-items: center;
}

#footer > div > p {
  margin-right: 12px;
}

#footer a {
  height: 20px;
  width: 20px;
  margin: 0px 6px;
}

#footer img {
  height: 100%;
  width: 100%;
}

#footer a:hover {
  height: 26px;
  width: 26px;
  margin: 0px 3px;
}

#download a:hover {
  cursor: pointer;
  background: #352384 !important;
  border: 1px solid black;
}

#top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-left: 500px;
}

#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
}

#vid {
  position: absolute;
  right: 7vw;
  top: 2.4vh;
  height: 93%;
  width: auto;
}
