body {
  padding: 0px;
  margin: 0px;
  font-family: 'Exo', sans-serif;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dlhshbg79/image/upload/v1486278057/9e_ssiz4jb4-mason-jones_olkarw.jpg');
  background-position: top, center;
  background-repeat: no-repeat;
  background-color: black;
}

body > * {
  padding: 0px;
  margin: 0px;
}

#title {
  margin-top: 16vh;
  margin-left: 68vw;
  color: white;
  font-size: 36px;
  font-family: 'Syncopate', sans-serif;
}

#download {
  margin-top: 40vh;
  margin-left: 68vw;
  margin-bottom: 70px;
}

#download > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: black;
  color: white;
  height: 70px;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #FF00BF;
}

#download > a > p {
  margin-right: 15px;
  font-size: 14px;
}

#download > a > img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

#title > h1{
  margin: 0px;
}

#title > div {
  display: flex;
}

#title > div > h6{
  margin: 0px 5px;
}

#do-more {
  font-style: italic;
}

#demo {
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 600px;
  width: 40vw;
  background: white;
  background-image: url('https://res.cloudinary.com/dlhshbg79/image/upload/v1486272442/Screen_Shot_2017-02-04_at_9.26.26_PM_pfiiko.png');
  background-size: cover;
  box-sizing: border-box;
  border-top: 50px solid beige;
  border-right: 50px solid beige;
  z-index: 10;
  overflow: hidden;
}

#footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0px;
  left: 5px;
  height: 60px;
  background: transparent;
}

#footer > * {
  margin: 0px 13px;
}

#footer > div {
  display: flex;
  align-items: center;
}

#footer > div > * {
  margin-right: 8px;
}

#footer a {
  height: 20px;
  width: 20px;
}

#footer img {
  height: 20px;
  width: 20px;
}

a:hover {
  cursor: pointer;
  background: pink;
}

#demo-img {
  position: relative;
  height: 450px;
  width: auto;
  margin-top: 10px;
}
